<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boleh</title>
    
    

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet"> 

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper" style="background-color:black;font-family: 'Hammersmith One', sans-serif;">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top"><strong>Boleh</strong></a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top"><strong>Home</strong></a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about"><strong>About</strong></a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services"><strong>Services</strong></a>
        </li>
<!--         <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio"><strong>Portfolio</strong></a>
        </li> -->
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact"><strong>Contact</strong></a>
        </li>
    
        
        
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex" style=" background:url(https://i.imgur.com/nZLaLBe.jpg);
                                           background-size:cover;
                                           background-attachment: fixed;
                                           ">
      <div class="container text-center my-auto">
      <img id ="logoImage" src="https://i.imgur.com/wYhKNf8.png" alt="" style="height:400px;width:400px">
        <h3 class="mb-5" style="font-family: 'Hammersmith One', sans-serif;">
          <strong>Marketing and Web</strong>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">What we do </a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Boleh Design Marketing and Web platform</h2>
    
     <button style="background-color:white;
                    color:#1d809f;
                    border:solid 0px white;
                    " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <strong>Know more about us</strong>
  </button>       
  
     <div class="collapse" id="collapseExample">
       <div class="card card-body" style="background-color:rgba(0,0,0,0);
                                          border:solid 0px white;">
       
          <p class="lead">
              Boleh Media is the profit-earning arm of FootBoleh, the Asian NGO revolutionising the world of football for young people across the continent.</p>
<p class="lead">
At Boleh Media, we have a passionate and dedicated team of full time talents specializing in Web and App Development, Content Marketing, Traditional and Digital Design, Digital Marketing, Corporate Branding and Strategy.
</p>
         <p class="lead">
 Our dyanamic  team is both efficient and diverse and can fulfill the needs of businesses in a plethora of industries. 
</p>
         <p class="lead">
Contact Us today to discuss custom solutions to take your business to the next level. 
</p>
         <p class="lead">
In this fast-paced and challenging modern economy, trust and quality are priceless commodities. At Boleh Media you can be guaranteed of both.
</p>
         <p class="lead">
 Founded by a Litigation Lawyer, you can expect the same esteemed standards of work  performance, quality and diligence as our founder maintains in his everyday legal practice.
</p>
         <p class="lead">
We have also recently entered the new and exciting niche area of Digital Legal Marketing. Click here to visit our dedicated Legal Marketing Page.
             </p>
           
       </div> 
</div>       
           <br> <br> <br> 
             <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
          </div>
        
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          
         <div class="col-lg-2 col-md-6">
            <span class="btn btn-primary" >
               <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-code"></i>
            </span>
            </span>
           
            <h4>
              <strong>App/Web Development</strong>
            </h4>
            <p class="text-faded mb-0">Modern marketing tools</p>
          </div>
          
          <div class="col-lg-2 col-md-6">
            <span class="btn btn-primary" data-toggle="modal" data-target="#digitalMarketing">
               <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-video-camera"></i>
            </span>
            </span>
           
            <h4>
              <strong>Digital Marketing</strong>
            </h4>
            <p class="text-faded mb-0">Modern marketing tools</p>
          </div>
          
           <div class="col-lg-2 col-md-6">
            <span class="btn btn-primary" >
               <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-pencil"></i>
            </span>
            </span>
           
            <h4>
              <strong>Design</strong>
            </h4>
            <p class="text-faded mb-0">Modern marketing tools</p>
          </div>
          
          <div class="col-lg-2 col-md-6">
            <span class="btn btn-primary" >
               <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-stop"></i>
            </span>
            </span>
           
            <h4>
              <strong>Branding</strong>
            </h4>
            <p class="text-faded mb-0">Modern marketing tools</p>
          </div>
          
           <div class="col-lg-2 col-md-6">
            <span class="btn btn-primary" >
               <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-building"></i>
            </span>
            </span>
           
            <h4>
              <strong>Corporate Strategy</strong>
            </h4>
            <p class="text-faded mb-0">Modern marketing tools</p>
          </div>
          
           <div class="col-lg-2 col-md-6">
            <span class="btn btn-primary" data-toggle="modal" data-target="#legalMarketing">
               <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fa fa-bullhorn"></i>
            </span>
            </span>
           
            <h4>
              <strong>Legal Marketing</strong>
            </h4>
            <p class="text-faded mb-0">Modern marketing tools</p>
          </div>
          
          <div class="container text-center">
          
           <button style="background-color:white;
                    color:#1d809f;
                    border:solid 0px white;
                    padding:10px;
                    font-size:25px;
                    border-radius:5px
                    " type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
    <strong>Why choose us ?</strong>
  </button>
   
    <div class="collapse" id="collapseExample2"> 
       <div class="card card-body" style="background-color:#1d809f;
                                          border:solid 1px #1d809f;">
       
          <p class="lead" >
             What We Can Do For You ?
         </p>
         <p class="lead">

We are young and hungry. </p>
         <p class="lead">
We do not have many tiers of directors, big bosses and executives with long titles who are highly paid to be paper generals. 
</p>
<p class="lead">        
What we want is to do valuable work for businesses, fully express our talents for your benefit, and get fair pay (Not exorbitant pay, but not low-ball pay either).<br>
</p> 
         <p class="lead">
We are willing work hard and use the latest techniques in video marketing to grow your business. <br>
</p>
         <p class="lead">
We can afford to be affordable, because we are building our portfolio of work and our brand. (and because we do not spend money on expensive cars, big houses, huge offices.)<br>
</p>
         <p class="lead">
We are committed to becoming a strong contender in the video production scene, as a result, double or triple our value and prices in the coming years. <br>
</p>
    <p class="lead">     
The question is…. will you allow us to help you do the same?<br>
             </p>
           
       </div> 
</div>       
              
            
       </div>    
        </div>
      </div>
    </section>

    <!-- Callout -->
<!--     <section class="callout" style="background-attachment: fixed;">
      <div class="container text-center">
        <h2 class="mx-auto mb-5">Welcome to
          <em>your</em>
          next website!</h2>
        <a class="btn btn-primary btn-xl" href="#">Download Now!</a>
      </div>
    </section> -->

    <!-- Portfolio -->
<!--     <section class="content-section bg-primary" id="portfolio"> -->
<!--       <div class="container"> -->
<!--         <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Portfolio</h3>
          <h2 class="mb-5">Recent Projects</h2>
        </div> -->
<!--         <div class="row no-gutters"> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!--             <div class="portfolio-item"> -->
           
             

                  <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="legalMarketing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
         style="border-radius:0px">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle" style="color:#007F9C;text-align:center"> LEGAL MARKETING</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                        </div>
                        <div class="modal-body">
      <ol style=" list-style-type: square;">
        <li><strong>By 2020, video will make up 82% of all consumer internet traffic,</strong><br> meaning law firms will be utilizing video as a medium for creating marketing content.</li>
        <li><strong>70% of law firms have generated new cases through their website;</strong> <br> having a good website it key to acquiring new clients and cases.</li>
        <li><strong>Potential clients for law firms spend on average 16 minutes per hour on various social media platforms.</strong><br> This is why engaging in social media and using these platforms for marketing is crucial.</li>
        <li><strong>74% of all legal consumers visit law firms’ websites to take action;</strong><br> yet another reason to make sure your website is up to par and provides an intuitive and helpful experience for potential clients right away.</li>
        <li><strong>In a survey of over 101 law firms, more than half grew their number of clients due to increased social media engagement</strong> <br>and this trend will predictably grow in 2017.</li>
        <li><strong>45% of all traffic to law firm websites is driven by LinkedIn,</strong> <br>a statistic that demonstrates LinkedIn’s ability to support attorneys’ marketing efforts.</li>
        <li><strong>When legal firms use video content for marketing purposes, web traffic from search engines increases by 41%</strong><br>when compared with firms that don’t utilize video.</li>
        <li><strong>Utilizing video marketing can increase a law firm’s organic search traffic by 157%.</strong></li>
        <li><strong>70% of law firm websites don’t have a direct call to action on their homepage</strong> <br>– set your firm apart by including one. </li>
        <li><strong>In 2015, only one-third of law firm websites were mobile optimized.</strong><br> Go mobile in 2017.</li>
        <li><strong>33% of legal consumers begin their search for a law firm by using online resources;</strong> <br> law firms need to ensure that they have a variety of good quality content online for consumers to look throughi.e. blogs, infographics, eBooks, etc</li>
        <li><strong>A shocking 97% of all law firm websites are lacking any kind of personalized content.</strong> <br> Personalizing your content involves targeting potential customers based on certain information about them, such as who they are, where they are from, how they are accessing your content, etc.</li>
      </ol>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            
            
            
                   <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="digitalMarketing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
         style="border-radius:0px">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle" style="color:#007F9C;text-align:center"> DIGITAL MARKETING</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                        </div>
                        <div class="modal-body">
     <p>At a high level, digital marketing refers to advertising delivered through digital channels 
       such as search engines, websites, social media, email, and mobile apps. 
       While this term covers a wide range of marketing activities, all of which are not 
       universally agreed upon, we’ll focus on the most common types below.</p>
                          
       <h3>Paid Search</h3>
       <p>Paid search, or pay-per-click (PPC) advertising, typically refers to the “sponsored result” on the top or 
         side of a search engine results page (SERP). You only pay when your ad is clicked. You can tailor your PPC ads to appear 
         when specific search terms are entered, creating ads that are targeted to a particular audience.
         PPC ads are flexible, visible, and most importantly, effective for many different types of organizations.
         They are also contextual advertisements—ads that appear when a person is searching for a particular keyword or term.</p>  
          
        <h3>Search Engine Optimization</h3> 
                          
       <p>Simply put, search engine optimization (SEO) is the process of optimizing the content, technical set-up,
         and reach of your website so that your pages appear at the top of a search engine result for a specific set
         of keyword terms. Ultimately, the goal is to attract visitors to your website when they search for products,
         services, or information related to your business.SEO can almost be viewed as a set of best practices for good 
         digital marketing. It enforces the need for a well-constructed and easy-to-use website, valuable and engaging content,
         and the credibility for other websites and individuals to recommend you by linking to your site or mentioning it in social media posts</p>
                          
          <h3>Content Marketing</h3> 
                          
       <p>Have you heard the expression, “Content is king?” If not, you have now. 
         Great content is the fuel that drives your digital marketing activities:<br>
          It is a key pillar of modern SEO<br>
It helps you get noticed on social media<br>
It gives you something of value to offer customers in emails and paid search ads<br>
Creating clever content that is not promotional in nature, but instead educates and inspires, 
  is tough but well worth the effort. Offering content that is relevant to your audience helps 
  them see you as a valuable source of information. On top of that, resourceful content makes it
   less likely that they will tune you out.</p>
                          
   <h3>Social Media Marketing</h3>  
                          
    <p>People aren’t just watching cat videos and posting selfies on social media these days. 
      Many rely on social networks to discover, research, and educate themselves about a brand 
      before engaging with that organization. For marketers, it’s not enough to just post on 
      your Facebook and Twitter accounts. You must also weave social elements into every aspect
      of your marketing and create more peer-to-peer sharing opportunities. The more your audience 
      wants to engage with your content, the more likely it is that they will want to share it.
      This ultimately leads to them becoming a customer. And as an added bonus, they will hopefully
      influence their friends to become customers, too.</p>                      
                          
                          
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            
                </span>
              </span>
            </div>
          </div>
    
 
    <!-- Call to Action -->
    

  <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Portfolio</h3>
          <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>E-COMMERCE</h2>
                  <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                </span>
              </span>
              <img class="img-fluid" src="https://i.imgur.com/baBmSM0.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>SOCIAL MARKETING</h2>
                  <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                </span>
              </span>
              <img class="img-fluid" src="https://i.imgur.com/8ITAbdR.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>PORTFOLIO</h2>
                  <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                </span>
              </span>
              <img class="img-fluid" src="https://i.imgur.com/Qnub5MK.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>ANALYTICS</h2>
                  <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                </span>
              </span>
              <img class="img-fluid" src="https://i.imgur.com/3jDQ6K8.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
</section>




    <!-- Map -->
    <section id="contact" class="map" style="">

      
        <iframe width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=36%20Robinson%20Road%2010-01%20city%20house&key=AIzaSyAZZpRYzIOkzB4TOTmDUK7IYo8073KUnLM" ></iframe>
     

      <br/>
      
     <div  style="background-color:#1d809f;padding-bottom:50px">
       
        <div class="container text-center">
        <h1 class="mb-4" style="color:white"> Contact Us  </h1>
        
    <form action="/sendmessage" method="POST">
    
  <div class="form-group">
    <label for="Name" style="font-family: 'Hammersmith One', sans-serif;
                                                             font-size:20px;color:white">
      <i style="color:white;
      font-size:25px;" class="fa fa-user"></i> 
      Your Name:</label>
    <input type="text" class="form-control" id="Name" name="Name" style="font-family: 'Hammersmith One', sans-serif;
                                                             font-size:20px;
                                                             text-align:center;
                                                             color:black;
                                                             border-radius:0px;" required>
  </div>    
      
   <div class="form-group">
    <label for="email" style="font-family: 'Hammersmith One', sans-serif;
                                                             font-size:20px;color:white">
      <i style="color:white;
      font-size:25px;" class="fa fa-at"></i> 
      Email Adress:</label>
    <input type="text" class="form-control" id="email"  name="Email"
                                                             style="font-family: 'Hammersmith One', sans-serif;
                                                             font-size:20px;
                                                             text-align:center;
                                                             color:black;
                                                             border-radius:0px;" required>
  </div> 
      
      
     <div class="form-group">
    <label for="message" style="font-family: 'Hammersmith One', sans-serif;
                                                             font-size:20px;color:white">
       <i style="color:white;
      font-size:25px;" class="fa fa-envelope"></i> 
      Message:</label>
    <textarea type="text" class="form-control" id="message"  name="Message"
                                                      style="font-family: 'Hammersmith One', sans-serif;
                                                             font-size:20px;
                                                             text-align:center;
                                                             color:black;
                                                             border-radius:0px;" rows="8" required></textarea>
  </div>   
      

 <button href="#" class="btn btn-xl btn-light mr-4"> <i style="color:grey;font-size:25px" class="fa fa-paper-plane"></i> &nbsp; Send </button>
 
</form>
        
        
       
      
      </div>
      </div>
     <br><br>
      
      <div style="height:250px;margin-top:50px">
        
        <div class="container">
         
          <p style="font-family: 'Hammersmith One', sans-serif;
                    font-size:25px">
            <strong style="color:#1d809f">Boleh Media</strong>
            <span style="font-weight:100"> 36 Robinson road 10-01 City House,Singapore 068877</span><br>
            <strong style="color:#1d809f;font-size:20px">Support :</strong> 90677268<br>
             <strong style="color:#1d809f;font-size:20px">Email :</strong> jaeshbala@gmail.com
          </p><br><br>
          
          <p style="text-align:center">  &nbsp; &nbsp; &nbsp;  .&copy; 2017 Boleh media</p>
          
        </div>
        
      </div>
      
      
      
      
    </section>

    <!-- Footer -->
    
     
      
      
       
   

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>
    

  </body>
  
  
  <script>
    
     if($(window).width() < 767){
       $('#logoImage').css("height","200px")
      $('#logoImage').css("width","200px")
     }
   
    
    
    
  
    
    
  
  </script>

</html>



