
   <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet"  type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='/script/jquery.transit.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.css" />
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<body style="background:url(https://i.imgur.com/JQx1fGl.jpg);
              background-size:cover;
              background-attachment: fixed;">
 
  <h1 style="text-align:center;
             color:white;
             font-size:40px;
           font-family: 'Hammersmith One', sans-serif;"> <i style="color:black;font-size:40px;" class="fa fa-envelope"></i>  Messages</h1>
<%messages.forEach(function(message){%>

<div class="card">
  
   <div class="container">
          <section class="content-section bg-primary text-black" style="font-family: 'Dosis', sans-serif;
                                                                        background-color:white;
                                                                        padding-top:20px;
                                                                        padding-bottom:20px;
                                                                        border-bottom:solid 1px #ccc">
            
        
          <p style="color:blue;
                     font-family: 'Dosis', sans-serif;
                     
                     margin-left:10px;"><span style="color:grey;font-size:15px;"></span>
          <strong><%=message.RecievedOn.toDateString()%></strong></p>  
            
        <h2 style="color:black;font-size:24px;font-family: 'Dosis', sans-serif;
                   margin-left:20px;"><span style="color:grey;font-size:25px;">Name : </span>
          <%=message.Name%></h2>
            
       <h2 style="color:black;font-size:21px;font-family: 'Dosis', sans-serif;
                  margin-left:20px;"><span style="color:grey;font-size:25px;">Email : </span>
          <%=message.Email%></h2>  <br>    
            
      <p style="color:black;font-size:16px;font-family: 'Dosis', sans-serif;
                margin-left:20px;"><span style="color:grey;font-size:17px;">Message : </span>
          <%=message.Message%></p>  
            
            
        </section>
      </div>
  
  
  </div>

     
 



<%})%>
  
  
  
  
  
</body>





















